﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="stylish-header">
        <h1><b>Welcome to dean's office site!</b></h1>
    </div>
    <div class="roboto font-large">
        <div class="row">
            <div class="col align-self-start">
                <p>As a student you can regiter here for courses you would like to and check you curriculum.</p>
            </div>
            <div class="col align-self-center">
                <p>As a professor you can set times of courses for students and check your curriculum</p>
            </div>
            <div class="col align-self-end">
                <p>Seat back and relax. Explore! Discover!</p>
            </div>
        </div>
    </div>
</div>
