﻿@{
    ViewData["Title"] = "Admin panel";
}

<h2>Admin panel</h2>
<div class="roboto">
    <a asp-controller="Course" asp-action="Add" asp-route-returnUrl="@Context.Request.Path">Add course</a>
    <br />
    <a asp-controller="Dashboard" asp-action="GetAllCourses">See all courses</a>
    <br/>
    <a asp-controller="Subject" asp-action="GetAllSubjects" >See all subjects</a>
</div>

