﻿@using Microsoft.AspNetCore.Identity
@using DeanOffice.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-controller="Account" asp-action="Logout" method="post" asp-antiforgery="true"
          id="logoutForm" class="ml-auto roboto">
        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="navbar-text font-large">Welcome <b class="stylish-header font-large">@User.Identity.Name</b>&nbsp;&nbsp;</span>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-info roboto">
                    Logout
                </button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="btn btn-info roboto" asp-controller="Account" asp-action="Login">Login</a>
            &nbsp;
        </li>
        <li class="nav-item">
            <a class="btn btn-info roboto" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    </ul>
}