﻿@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<br />
<div class="alert-danger" style="text-align:center">
    <br />
    <b>An error occured</b>
    <br />
    <p>@Model.ErrorMessage</p>
    <br />
    <a class="btn btn-danger" href="#" onclick="history.go(-1); history.pushState(document.referrer.referrer);return false;">Back</a>
</div>

