﻿@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h2 class="col-md-offset-1 stylish-header"><b>Login</b></h2>
<form method="post" class="roboto bold"
      asp-controller="Account"
      asp-action="Login">
    <div class="form-group col-md-4">
        <label asp-for="Username"> </label>
        <input class="form-control" asp-for="Username" />
        <span asp-validation-for="Username" class="font-error"></span>
    </div>
    <div class="form-group col-md-4">
        <label asp-for="Password"> </label>
        <input class="form-control" asp-for="Password" />
        <span asp-validation-for="Password" class="font-error"></span>
    </div>
    <div class="form-group">
        <div class="form-check col-md-4">
            <input class="form-check-input" type="checkbox" asp-for="RememberMe" />
            <label class="form-check-label" asp-for="RememberMe"></label>
            <span asp-validation-for="RememberMe" class="font-error"></span>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg" type="submit" value="Login">Login</button>
    </div>
    <div asp-validation-summary="ModelOnly" class="font-error">
    </div>
</form>
