﻿@model RegisterViewModel
@using DeanOffice.Common.Enums

@{
    ViewData["Title"] = "Register";
}

<h2 class="col-md-offset-1 stylish-header"><b>Register</b></h2>
<br />
<form method="post" class="form-horizontal roboto bold"
      asp-antiforgery="true"
      asp-controller="Account"
      asp-action="Register">
    <div>
        <fieldset>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label" asp-for="UserType"></label>
                        <div>
                            <select class="form-control" asp-for="UserType" asp-items="Html.GetEnumSelectList<UserType>()">
                                <option selected="selected">Please select</option>
                            </select>
                            <span asp-validation-for="UserType" class="font-error"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label" asp-for="Title"> </label>
                        <div>
                            <select class="form-control" asp-for="Title" asp-items="Html.GetEnumSelectList<TitleEnum>()">
                                <option selected="selected">Please select</option>
                            </select>
                            <span asp-validation-for="Title" class="font-error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label class="control-label" asp-for="FirstName"> </label>
                        <div>
                            <input class="form-control" asp-for="FirstName" />
                            <span asp-validation-for="FirstName" class="font-error"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label" asp-for="LastName"> </label>
                        <div>
                            <input class="form-control" asp-for="LastName" />
                            <span asp-validation-for="LastName" class="font-error"></span>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label" asp-for="Email"> </label>
                        <div>
                            <input class="form-control" asp-for="Email" />
                            <span asp-validation-for="Email" class="font-error"></span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <fieldset>
            <div class="row">
                <div class="col align-self-start">
                    <div class="form-group">
                        <label class="control-label" asp-for="Username"> </label>
                        <div>
                            <input class="form-control" asp-for="Username" />
                            <span asp-validation-for="Username" class="font-error"></span>
                        </div>
                    </div>
                </div>
                <div class="col align-self-end">
                    <div class="form-group">
                        <label class="control-label" asp-for="Password"> </label>
                        <div>
                            <input class="form-control" asp-for="Password" />
                            <span asp-validation-for="Password" class="font-error"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                </div>
                <div class="col">
                    <div class="form-group">
                        <label class="control-label" asp-for="ConfirmPassword"> </label>
                        <div>
                            <input class="form-control" asp-for="ConfirmPassword" />
                            <span asp-validation-for="ConfirmPassword" class="font-error"></span>
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
    </div>
    <div class="form-group">
        <input class="btn btn-success btn-lg col-md-offset-5" type="submit" value="Register" />
    </div>
    <br />
    <div asp-validation-summary="ModelOnly" class="font-error"></div>
</form>
