﻿@model CourseEditViewModel

<h2>@ViewData["Title"]</h2>
<form method="post" class="form-horizontal roboto bold"
      asp-antiforgery="true"
      asp-controller="Course"
      asp-action="@(Model.Course.CourseId == Guid.Empty ? "Add" : "Edit")"
      asp-route-courseId="@Model.Course.CourseId">
    <div>
        <input asp-for="Course.CourseId" type="hidden" value="@Model.Course.CourseId"/>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.Name"></label>
                    <div>
                        <input class="form-control" asp-for="Course.Name" />
                        <span asp-validation-for="Course.Name" class="font-error"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.Type.TypeId"></label>
                    <div>
                        <select class="form-control" asp-for="Course.Type.TypeId" asp-items="@Model.GetTypes()">
                            <option selected="selected">Please select</option>
                        </select>
                        <span asp-validation-for="Course.Type.TypeId" class="font-error"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.Subject.SubjectId"></label>
                    <div>
                        <select class="form-control" asp-for="Course.Subject.SubjectId" asp-items="@Model.GetSubjects()">
                            <option selected="selected">Please select</option>
                        </select>
                        <span asp-validation-for="Course.Subject" class="font-error"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.Lecturer.Id"></label>
                    <div>
                        <select class="form-control" asp-for="Course.Lecturer.Id" asp-items="@Model.GetLecturers()">
                            <option selected="selected">Please select</option>
                        </select>
                        <span asp-validation-for="Course.Lecturer" class="font-error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.StartupDate"></label>
                    <div>
                        <input class="form-control" type="date" asp-for="Course.StartupDate" />
                        <span asp-validation-for="Course.StartupDate" class="font-error"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.FinishDate"></label>
                    <div>
                        <input class="form-control" type="date" asp-for="Course.FinishDate" />
                        <span asp-validation-for="Course.FinishDate" class="font-error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.DayOfWeek"></label>
                    <div>
                        <select class="form-control" asp-for="Course.DayOfWeek" asp-items="Html.GetEnumSelectList<DayOfWeek>()">
                            <option selected="selected">Please select</option>
                        </select>
                        <span asp-validation-for="Course.DayOfWeek" class="font-error"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.StartHour"></label>
                    <div>
                        <input class="form-control" type="time" asp-for="Course.StartHour" />
                        <span asp-validation-for="Course.StartHour" class="font-error"></span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.EndHour"></label>
                    <div>
                        <input class="form-control" type="time" asp-for="Course.EndHour" />
                        <span asp-validation-for="Course.EndHour" class="font-error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Course.StudentCountLimit"></label>
                    <div>
                        <input class="form-control" type="number" asp-for="Course.StudentCountLimit" />
                        <input class="form-control" type="hidden" asp-for="Course.CurrentStudentCount" />
                        <span asp-validation-for="Course.StudentCountLimit" class="font-error"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-success btn-lg col-md-offset-5" type="submit" value="@(Model.Course.CourseId == Guid.Empty ? "Add" : "Edit")"/>
    </div>
    <br />
    <div asp-validation-summary="ModelOnly" class="font-error"></div>
</form>
