﻿@model CourseDetailsViewModel
@{
    ViewData["Title"] = Model.Course.Name;
    ViewBag.CurriculumAction = Model.IsPersonSignedUp ? "SignOutFromACourse" : "SignUpForACourse";
    ViewBag.CurriculumActionText = Model.IsPersonSignedUp ? "SignOut" : "SignUp";
}
<h2 class="col-md-offset-1 stylish-header"><b>Course details - @Model.Course.Name </b></h2>
<div class="jumbotron roboto font-large">
    <div class="row">
        <div class="col">
            <div>
                <p>@Model.Course.Name</p>
                <p>@Model.Course.Subject.Name</p>
            </div>
            <div>
                <p>@Model.Course.Lecturer.FullName</p>
            </div>
            <div>
                <p>Duration: @Model.Course.StartupDate.ToShortDateString() to @Model.Course.FinishDate.ToShortDateString()</p>
            </div>
            <div>
                <p>Time : @Model.Course.StartHour - @Model.Course.EndHour (@(Model.Course.EndHour - Model.Course.StartHour))</p>
            </div>
            <div>
                <p>Currently signed in students: @Model.Course.CurrentStudentCount / @Model.Course.StudentCountLimit</p>
            </div>
        </div>
        <div class="col">
            <div>
                <a class="btn btn-primary" href="#" onclick="history.go(-1);return false;">Back</a>
            </div>
            @if (Model.HasAdminRights)
            {
                <a asp-controller="Course" asp-action="Edit"
                   asp-route-courseId="@Model.Course.CourseId"
                   asp-route-returnUrl="@Context.Request.Path"
                   class="btn btn-primary">
                    Edit
                </a>
            }
            @if (Model.IsStudent)
            {
                <form method="post" asp-antiforgery="true"
                      asp-controller="Curriculum"
                      asp-action="@ViewBag.CurriculumAction"
                      asp-route-courseId="@Model.Course.CourseId"
                      asp-route-studentId="@User.GetGuid()"
                      asp-route-returnUrl="@Context.Request.Path">
                    <input type="submit" class="btn btn-primary" value="@ViewBag.CurriculumActionText" />
                </form>
            }
            @if (!Model.IsStudent)
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            int i = 1;
                            foreach (var student in Model.Course.Attendants)
                            {
                                <tr>
                                    <td>@(i++.ToString())</td>
                                    <td>@student.FirstName @student.LastName</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

