﻿@model AllCoursesViewModel
@{
    ViewData["Title"] = "All Courses";
}

<h2 class="col-md-offset-1 stylish-header"><b>All courses</b></h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Subject</th>
            <th scope="col">Lecturer</th>
            <th scope="col">Start date</th>
            <th scope="col">End date</th>
            <th scope="col">###</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model.Courses)
        {
            <tr>
                <td>@course.Name</td>
                <td>@course.Subject.Name</td>
                <td>@course.Lecturer.FirstName @course.Lecturer.LastName</td>
                <td>@course.StartupDate.ToShortDateString()</td>
                <td>@course.FinishDate.ToShortDateString()</td>
                <td><a asp-controller="Dashboard" asp-action="CourseDetails" 
                       asp-route-courseId="@course.CourseId" 
                       asp-route-returnUrl="@Context.Request.Path"
                       class="btn btn-primary">
                        Details
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>