﻿@model CourseDashboardViewModel

@{
    ViewBag.Title = "Schedule";
}

<h2 class="col-md-offset-1 stylish-header">
    <b>Schedule</b>
</h2>
<br />
<table class="table table-sm">
    <thead class="thead-light roboto">
        <tr>
            <th>Day</th>
            <th>Subject</th>
            <th>Name</th>
            <th>Type</th>
            <th>Starts</th>
            <th>Ends</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dayGroup in Model.Courses.GroupBy(x => x.DayOfWeek).OrderBy(x => x.Key))
        {
            <tr class="roboto">
                <td><p class="stylish-header font-large">@dayGroup.Key</p></td>
                <td>@dayGroup?.First().Subject.Name</td>
                <td>@dayGroup?.First().Name</td>
                <td>@dayGroup?.First().Type.Name</td>
                <td>@dayGroup?.First().StartHour</td>
                <td>@dayGroup?.First().EndHour</td>
            </tr>
            foreach (var course in dayGroup.Skip(1).OrderBy(x => x.StartHour))
            {
                <tr class="roboto">
                    <td></td>
                    <td>@course.Subject.Name</td>
                    <td>@course.Name</td>
                    <td>@course.Type.Name</td>
                    <td>@course.StartHour</td>
                    <td>@course.EndHour</td>
                </tr>
            }
            <tr>
                <td colspan="50" class="green-background"></td>
            </tr>
        }
    </tbody>
</table>