﻿@model CourseDashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}
<h2 class="col-md-offset-1 stylish-header"><b>Dashboard</b></h2>
<div class="jumbotron roboto">
    <div class="row">
        <div class="col">
            <div>
                <p class="stylish-header font-large">Your information:</p>
            </div>
            <div>
                <p>Name : @Model.Name @Model.Surname</p>
                <p>CurrentRole: @Model.UserRole</p>
            </div>
        </div>
        <div class="col">
            <a asp-controller="Dashboard" asp-action="GetSchedule">Your schedule</a>
            <br />
            <a asp-controller="Dashboard" asp-action="GetAllCourses">Available courses</a>
        </div>
    </div>
</div>

