﻿.roboto {
    font-family: 'Roboto', sans-serif;
}

.stylish-header {
    font-family: 'Permanent Marker', cursive;
}

.font-small {
    font-size: small;
}

.font-medium {
    font-size: medium;
}

.font-large {
    font-size: large;
}

.font-very-big {
    font-size: 30px;
}

.font-error {
    font-style: italic;
    color: orangered;
}

.bold {
    font-weight:bold;
}