﻿@model SubjectAddEditViewModel

@{
    ViewData["Title"] = "Add subject";
}

<h2>@ViewData["Title"]</h2>
<form method="post" class="form-horizontal roboto bold"
      asp-antiforgery="true"
      asp-controller="Subject"
      asp-action="@(Model.Subject.SubjectId == Guid.Empty ? "AddSubject" : "EditSubject")">
    <div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label" asp-for="Subject.Name"></label>
                    <div>
                        <input class="form-control" asp-for="Subject.Name" />
                        <input class="form-control" type="hidden" asp-for="Subject.SubjectId" />
                        <input class="form-control" type="hidden" asp-for="ReturnUrl"/>
                        <span asp-validation-for="Subject.Name" class="font-error"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-success btn-lg col-md-offset-5" type="submit" value="@(Model.Subject.SubjectId == Guid.Empty ? "Add" : "Edit")" />
    </div>
    <br />
    <div asp-validation-summary="ModelOnly" class="font-error"></div>
</form>


