﻿@model IEnumerable<DeanOffice.Data.DatabaseEntities.Subject>

@{
    ViewData["Title"] = "All subjects";
}

<h2 class="col-md-offset-1 stylish-header"><b>All subjects</b></h2>
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">###</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var subject in Model)
        {
            {
                ViewBag.ActionToExecute = subject.SubjectId == Guid.Empty ? "AddSubject" : "EditSubject";
            }
            <tr>
                <td>@subject.Name</td>
                <td>
                    <a asp-controller="Subject" asp-action="@ViewBag.ActionToExecute"
                       asp-route-subjectId="@subject.SubjectId"
                       asp-route-returnUrl="@Context.Request.Path"
                       class="btn btn-primary">
                        Edit
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>