﻿
@{
    ViewData["Title"] = "Contact";
}

<h2 class="stylish-header">Contact</h2>
<jumbotron class="roboto font-large">
    <p>Author: Radosław Kot</p>
    <p>Email: radoskot@student.agh.edu.pl</p>
</jumbotron>

